extends layout

block content
    .container
        form
            .form-row
                .form-group.col-lg-12
                    label 아이디
                    input.form-control#user-id(type="text")
            .form-row
                .form-group.col-lg-6
                    label 비밀번호
                    input.form-control#passwd(type="password")
                .form-group.col-lg-6
                    label 비밀번호 확인
                    input.form-control#passwd-confirm(type="password")

            .form-row
                .form-group.col-lg-12
                    label 이메일
                    input.form-control#email(type="email")
            .form-row
                .form-group.col-lg-4
                    label 년도
                    select.form-control#user-year
                .form-group.col-lg-4
                    label 월
                    select.form-control#user-month
                .form-group.col-lg-4
                    label 일
                    select.form-control#user-day
            .form-row
                .form-group
                    button.btn.btn-primary.right(type="submit") 가입
                    button.btn.btn-primary(type="submit") 취소

    script(src="/__bundles/signUp.bundle.js")
